<!DOCTYPE html>
<html>
    <head>
        <title>Pranay's Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Pranay's Blog</a></h1>
        </header>
        
        <article>
            <time>published: 14-07-21, 16:52</time>
            <h2><a href="">To Dos</a></h2>
            <p>
                This is a list of remaining tasks for this project. Ill try to update it as frequently as possible.
                <ul>
                    <li>make this page better looking.</li>
                    <li>finish remaining website.</li>
                </ul>
            </p>
        </article>

        <footer><a href="https://github.com/ShahPranay/Blog-Site">link to Github repo</a></footer>
        
    <body>
</html>